<div class="card p-1">
  <div class="card-block ">
    <p class="card-title">
      <a class="" data-toggle="collapse" href="#collapse<%= players.object_id %>" aria-expanded="false" aria-controls="collapse<%= players.object_id %>"> <%= title %> </a>
    </p>

    <div class="card-text collapse show" id="collapse<%= players.object_id %>">
      <table class="table table-bordered table-striped table-sm">
        <thead class="thead-inverse">
          <tr>
            <th class="text-center"> # </th>
            <th class="text-center"><%= Player.model_name.human %></th>
            <th class="text-center"><%= Scout.human_attribute_name(:victory)%></th>
          </tr>
        </thead>

        <tbody>
          <% players.each_with_index do |winner, index| %>
            <tr>
              <td class="text-center"><%= index + 1 %></td>
              <td><%= winner.first %></td>
              <td class="text-center"><%= winner.last %></td>
            </tr>
          <% end%>
        </tbody>
      </table>

    </div>
  </div>
</div>
