<div class="card">
  <div class="card-block">
    <p class="card-title">
      <a class="" data-toggle="collapse" href="#collapse<%= teams.object_id %>" aria-expanded="false" aria-controls="collapse<%= teams.object_id %>"> <%= "#{t 'home.teams.title'} #{title}" %> </a>
    </p>

    <div class="card-text show" id="collapse<%= teams.object_id %>">
      <table class="table table-bordered table-striped table-sm">
        <thead class="thead-inverse">
          <tr>
            <th class="text-center"> # </th>
            <th class="text-center"><%= Team.model_name.human %></th>
            <th class="text-center"><%= Scout.human_attribute_name(:victory)%></th>
          </tr>
        </thead>

        <tbody>
          <% teams.each_with_index do |winner, index| %>
            <tr>
              <td class="text-center"><%= index + 1 %></td>
              <td class="text-center"><%= winner.first %></td>
              <td class="text-center"><%= winner.last %></td>
            </tr>
          <% end%>
        </tbody>
      </table>

    </div>
  </div>
</div>
