<br>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <%= render partial: 'home/charts/pie_charts', locals: { id: 'pie_quantity_matches', source: @matches.charts.pie_quantity_player, title: t('charts.quantity_players'), tooltip: t('matches.name'), legend: true } %>
    </div>
    <div class="col-md-6">
      <%= render partial: 'home/charts/pie_charts', locals: { id: 'pie_quantity_teams', source: @matches.charts.pie_quantity_team, title: t('charts.quantity_players'), tooltip: t('matches.name'), legend: false } %>
    </div>
  </div>
  <hr>

  <div class="row">
    <div class="col-md-6">
      <%= render partial: 'home/charts/pie_charts', locals: { id: 'pie_players_winners', source: @matches.charts.pie_players_winners, title: "#{t 'home.players.title'} #{ t 'home.winners' }", tooltip: t('scout.teams.team.total_winner'), legend: true } %>
    </div>
    <div class="col-md-6">
      <%= render partial: 'home/charts/pie_charts', locals: { id: 'pie_teams_winners', source: @matches.charts.pie_teams_winners, title: "#{t 'home.teams.title'} #{ t 'home.winners' }", tooltip: t('scout.teams.team.total_winner'), legend: false } %>
    </div>
  </div>
  <hr>

  <div class="row">
    <div class="col-md-12">
      <%= render partial: 'home/charts/staked_bar', locals: { id: 'staked_bar', source: @matches.charts.staked_bar, title: t('charts.general') } %>
    </div>
  </div>
</div>
