<section id="home">
  <div id="main-slider" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#main-slider" data-slide-to="0" class="active"></li>
      <li data-target="#main-slider" data-slide-to="1"></li>
      <li data-target="#main-slider" data-slide-to="2"></li>
      <li data-target="#main-slider" data-slide-to="3"></li>
      <li data-target="#main-slider" data-slide-to="4"></li>
      <li data-target="#main-slider" data-slide-to="5"></li>
      <li data-target="#main-slider" data-slide-to="6"></li>
      <li data-target="#main-slider" data-slide-to="7"></li>
      <li data-target="#main-slider" data-slide-to="8"></li>
    </ol>

    <div class="carousel-inner">
      <%= render 'slider' %>
    </div>
  </div>
</section>

<section id="explore">
  <%= render 'countdown' %>
</section>

<section id="event">
  <%= render 'team' %>
</section>

<section id="about">
  <%= render 'about' %>
</section>

<section id="twitter">
  <%= render 'twitter' %>
</section>

<section id="contact">
  <div id="map">
    <div id="gmap-wrap">
      <div id="gmap">
      </div>
    </div>
  </div><!--/#map-->
  <%= render 'contact' %>
</section>
