<%= form_for match do |f| %>

  <div class="form-group ">
    <%= f.label :started_at %><br>
    <%= f.datetime_select(:started_at, { order: [:day, :month, :year] }, {:class => ' custom-select'}) %>
  </div>

  <div class="form-group ">
    <%= f.label :finished_at %><br>
    <%= f.datetime_select(:finished_at, { order: [:day, :month, :year] }, {:class => 'custom-select'}) %>
  </div>

  <div id="accordion" role="tablist" aria-multiselectable="true">
    <%= render 'card_team', f: f, match: match, scout: match.scouts.first, team_label: t('team_code.first') %>
    <br>
    <%= render 'card_team', f: f, match: match, scout: match.scouts.last,  team_label: t('team_code.second') %>
  </div>

  <hr>
  <%= f.submit class: 'btn btn-primary' %>
  <br> <br>
<% end %>
