<div class="card ">
  <a class="list-group-item-action flex-column" data-toggle="collapse" href="#more_content_<%= match.id %>" aria-expanded="false" aria-controls="more_content_<%= match.id %>">
    <div class="card-block ">
      <div class="row">
        <div class="col-md-3 text-center"> <%= match.title_for_first_team %> </div>
        <div class="col-md-2 text-center">
          <span class="badge badge-info badge-pill"><%= match.score_first_team %></span> x <span class="badge badge-info badge-pill"><%= match.score_second_team %></span>
        </div>
        <div class="col-md-3 text-center"> <%= match.title_for_second_team %> </div>
        <div class="col-md-4 text-right"> <small><%= l match.started_at, format: :short %></small> </div>
      </div>
    </div>
  </a>

  <div class="collapse" id="more_content_<%= match.id%>">
    <div class="card card-block">
      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
    </div>
  </div>

</div>
<br>
