<!DOCTYPE html>
<html>
  <head>
    <title>Malucos por Taco</title>
    <meta name="description" content="Malucos por Taco">
    <meta name="author" content="Ederson de Lima">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>

    <script type='text/javascript'>
      <%= yield :javascript %>
    </script>
  </body>
</html>
